---
import PageLayout from "@/layouts/Base";
import { getAllTagsWithCount } from "@/util";
import type { Post } from "@/types";

const allPosts = await Astro.glob<Post>("../posts/*.mdx");
const allTags = getAllTagsWithCount(allPosts);

const meta = {
	title: "All Tags",
	description: "All Tags from my blogs",
};
---

<PageLayout meta={meta}>
	<h1 class="mb-6 title">Tags</h1>
	<ul class="space-y-4">
		{
			Object.keys(allTags).map((tag) => (
				<li class="flex items-center gap-x-2">
					<a
						class="inline-block cactus-link"
						href={`/tags/${tag}`}
						title={`View posts with the tag: ${tag}`}
					>
						&#35;{tag}
					</a>
					<span class="inline-block">
						- {allTags[tag]} Post{allTags[tag] > 1 && "s"}
					</span>
				</li>
			))
		}
	</ul>
		{
			allTags.length && (
				<aside>
					<h2 class="flex items-center mb-4 text-lg font-semibold">
						<svg
							aria-hidden="true"
							xmlns="http://www.w3.org/2000/svg"
							class="w-6 h-6"
							viewBox="0 0 24 24"
							stroke-width="1.5"
							stroke="currentColor"
							fill="none"
							stroke-linecap="round"
							stroke-linejoin="round"
						>
							<path stroke="none" d="M0 0h24v24H0z" fill="none" />
							<path d="M7.859 6h-2.834a2.025 2.025 0 0 0 -2.025 2.025v2.834c0 .537 .213 1.052 .593 1.432l6.116 6.116a2.025 2.025 0 0 0 2.864 0l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-6.117 -6.116a2.025 2.025 0 0 0 -1.431 -.593z" />
							<path d="M17.573 18.407l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-7.117 -7.116" />
							<path d="M6 9h-.01" />
						</svg>
						Tags
					</h2>
					<ul class="flex flex-wrap gap-2 text-bgColor">
						{allTags.map((tag) => (
							<li>
								<a
									class="flex items-center justify-center p-1 rounded-lg bg-accent"
									href={`/tags/${tag}`}
									aria-label={`View all posts with the tag: ${tag}`}
								>
									{tag}
								</a>
							</li>
						))}
					</ul>
					<span class="block mt-4 sm:text-right">
						<a
							class="sm:hover:text-accent"
							href="/tags"
							aria-label="View all blog categories"
						>
							View all →
						</a>
					</span>
				</aside>
			)
		}
</PageLayout>
